In [12]:
import pandas as pd
import pandas_datareader as pdr
import numpy as np
import matplotlib.pyplot as plt
import yfinance as yf

In [13]:
""" Dados das 12 maiores do IBrX 100 para 1 Quad de 2022 e o ETF BRAX11 que replica o Ã­ndice """

tickers = ['VALE3.SA', 'PETR4.SA', 'PETR3.SA', 'ITUB4.SA', 
        'BBDC4.SA', 'B3SA3.SA', 'ABEV3.SA', 'JBSS3.SA', 
        'WEGE3.SA', 'SUZB3.SA', 'ITSA4.SA', 'BBAS3.SA', 
        'BRAX11.SA', 'BOVA11.SA'
]

df0 = pdr.DataReader(tickers, data_source='yahoo', start='2012-01-01', end='2022-01-25')['Close']
df0.to_csv('IBRX100.csv', index = True)                              #Saves to a .csv file

df_BOVA = pdr.DataReader('BOVA11.SA', data_source='yahoo', start='2012-01-01', end='2022-01-25')['Close']
df_BOVA.to_csv('BOVA.csv', index = True)                              #Saves to a .csv file

df0 = pd.read_csv('IBRX100.csv', index_col=0, parse_dates=True)       #Asserts the df(dataframe) to the .csv file

df0.dropna(axis=0, how='all', inplace=True) #drops rows with missing values
df0.dropna(axis=1, how='any', inplace=True) #drops columns with missing values

In [14]:
df0.shape

(2496, 14)

In [15]:
df0.head()

,VALE3.SA,PETR4.SA,PETR3.SA,ITUB4.SA,BBDC4.SA,B3SA3.SA,ABEV3.SA,JBSS3.SA,WEGE3.SA,SUZB3.SA,ITSA4.SA,BBAS3.SA,BRAX11.SA,BOVA11.SA
Date,,,,,,,,,,,,,,
2012-01-02,40.900002,21.730000,23.209999,15.495298,10.943809,3.250000,10.872475,5.62,2.760355,20.01,5.859261,24.290001,39.570000,57.029999
2012-01-03,42.720001,22.410000,24.020000,15.882339,11.175443,3.306666,10.748561,5.79,2.825443,20.01,6.032830,24.180000,40.450001,58.400002
2012-01-04,43.009998,22.570000,24.170000,15.900553,11.193261,3.366666,10.498734,5.90,2.840236,20.01,6.043349,24.059999,40.450001,58.400002
2012-01-05,41.860001,22.309999,24.020000,15.782164,11.121989,3.330000,10.290878,6.00,2.857988,20.01,6.017051,23.809999,40.080002,57.610001
2012-01-06,41.500000,22.330000,24.000000,15.900553,11.260969,3.380000,10.264896,6.07,2.825443,20.01,6.048609,23.209999,40.070000,57.750000

In [16]:
df0_returns = pd.DataFrame()
for tickers in df0.columns:
  df0_returns[tickers] = np.log(df0[tickers]).diff()
  
df0_returns.to_csv('IBRX-returns.csv', index = True)

In [17]:
df0_returns.head()

,VALE3.SA,PETR4.SA,PETR3.SA,ITUB4.SA,BBDC4.SA,B3SA3.SA,ABEV3.SA,JBSS3.SA,WEGE3.SA,SUZB3.SA,ITSA4.SA,BBAS3.SA,BRAX11.SA,BOVA11.SA
Date,,,,,,,,,,,,,,
2012-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-01-03,0.043537,0.030814,0.034304,0.024671,0.020945,0.017285,-0.011462,0.029801,0.023306,0.0,0.029193,-0.004539,0.021995,0.023738
2012-01-04,0.006765,0.007114,0.006225,0.001146,0.001593,0.017983,-0.023517,0.018820,0.005222,0.0,0.001742,-0.004975,0.000000,0.000000
2012-01-05,-0.027102,-0.011587,-0.006225,-0.007473,-0.006388,-0.010951,-0.019997,0.016807,0.006231,0.0,-0.004361,-0.010445,-0.009189,-0.013620
2012-01-06,-0.008637,0.000896,-0.000833,0.007473,0.012419,0.014903,-0.002528,0.011599,-0.011453,0.0,0.005231,-0.025522,-0.000250,0.002427